{% extends "base.html" %}


{% block content %}

<div class="main" id="aboutme_wrap">
	
	<aside>
		<img src="/static/img/sheena.jpg" height="350" width="250" style="clear:both;"/>
	</aside>
	<section>
		<h2>Sheena Patel</h2></br>
		<p>Born in Fiji Islands, raised in Zambia. I now live in Austin, Texas and enjoy every part of it - Austin is an amazing city!</p>
		<p>I am a web developer and happily exploring all the endless excitement it has to offer.</p>
		<p>Please enjoy browsing through my website and feel free to contact me with any comments or suggestions!</p>
		<p>Thank you!</p>
	</section>
	
</div>

{% endblock %}