{% extends "base.html" %}


{% block content %}

<div class="main" id="resume_wrap">

	<div id="contact_info">
		<h2>Sheena Patel 
		<span>
				<a class="email" href="mailto:sheenz.fiji@gmail.com">sheenz.fiji@gmail.com</a></br>
			  	Austin, Texas		
		</span>
		</h2>
	</div>
	<dl>
		<dt>Experience</dt>
			<dd>
				<h3>Systems Developer/Analyst, University of Texas at Austin
					<span>June 2012 to Current</span>
				</h3>
				<ul type="square">
					<li>Data Extract, Matriculation Dashboard (Mainframe, Oracle, SQL, Python, Django, HTML, CSS, JavaScript)
						<ul type="square">
							<li>Built data dashboards to accept form query inputs, manipulate and display data</li>
						</ul>
					</li>
					<li>Space Updates (Python, Django, HTML, CSS, JavaScript)
						<ul type="square">
							<li>Created mock up form query returning data in a tabular format and then allowing the user to manipulate records in a modal for each table record</li>
						</ul>
					</li>
					<li>Debug application code using Python and Web Browser Developer tools</li>
					<li>Wrote and networked Python batch scripts to retrieve, process and store(update existing/create new) data to existing relational data structures (Oracle, Python, Django, Internal Task Manager for scheduling, PyPE server)</li>
					<li>Created, maintained and executed extensive test plans for Matriculation Dashboard, Data Extract, Space, FAR</li>
					<li>Maintained Oracle database views</li>
					<li>Used SQL queries to analyze data in Oracle using SQL Developer</li>
					<li>Troubleshoot application functionality and data integrity issues in a time sensitive window for applications deployed to TEST, QUAL and PROD</li>
				</ul>
				<h3>Systems Project Analyst, Florida Department of Law Enforcement
					<span>March 2011 to June 2012</span>
				</h3>
				<ul type="square">
					<li>Public Suspicious Activity Report (JQuery, JavaScript, HTML, CSS, Oracle)
						<ul type="square">
							<li>Created user-friendly web application to capture and process Suspicious Activity Reports</li>
						</ul>
					</li>
					<li>Wrote and executed test scripts for the Automated Investigative Management System</li>
					<li>Coordinated with IAPro vendor to integrate HR Interface using SQL stored procedures</li>
					<li>Experience implementing applications in Dev, Test, Prod environments</li>
					<li>Managed application conversions to JBoss, SQL 2008, Windows 2008</li>
				</ul>
				<h3>Computer Programmer Analyst II, Florida Department of Law Enforcement
					<span>August 2010 to June 2012</span>
				</h3>
				<ul type="square">
					<li>Credential Application (Java, Wicket, HTML, CSS, iReports, SQL)
						<ul type="square">
							<li>Designed and programmed a Law Enforcement identification card creation and management system to replace a manual system. The new system saves 150 hours every year.</li>
						</ul>
					</li>
					<li>Maintain, manage upgrades and provide support for a vendor product, IAPro/Blue Team</li>
					<li>Gather requirements for a Trainee Records Management piece to add to the Member Work Plan System</li>
					<li>Documented JAD sessions for Applicant AFIS, an applicant background check system for the State of Florida</li>
				</ul>
				<h3>Office Automation Specialist II, Florida Department of Law Enforcement
					<span>January 2010 - August 2010</span>
				</h3>
				<ul type="square">
					<li>Provide FCIC/NCIC/application support/troubleshooting guidance to law enforcement members and State Agencies</li>
					<li>Assist with installation, application errors, certificate management, and user profile modifications</li>
					<li>Monitor Statewide Network connections and coordinate repair procedures</li>
				</ul>
				<h3>Business Analyst, PharMerica (Contractor with Tata Consultancy Services)
					<span>September 2007 to November 2008</span>
				</h3>
				<ul type="square">
					<li>Application administrator for CA Clarity, a Project Portfolio Management tool, including
						<ul type="square">
							<li>Time tracking and profile management for 140 resources</li>
							<li>Providing technical support and training for interdepartmental personnel</li>
							<li>Reporting and analysis to realign resource utilization to achieve maximum efficiency</li>
							<li>Extending use of CA Clarity by presenting its functionalities to other departments</li>
						</ul>
					</li>
					<li>Assisted process improvement project to consolidate 4 Regional Billing Offices (RBOs)
						<ul type="square">
							<li>Mapped out existing RBO processes using Visio and Tibco (a process simulation tool)</li>
							<li>Used Tibco to analyze different process scenarios to find the most efficient one based on time</li>
						</ul>
					</li>
				</ul>
			</dd>
	</dl>
	<dl>
		<dt>Education</dt>
			<dd>
				<h3>MS Management Information Systems, University of South Florida
					<span>July 2008</span>
				</h3>
				<h3>BS Management Information Systems, University of South Florida
					<span>December 2006</span>
				</h3>
			</dd>
	</dl>


</div>

{% endblock %}


